<footer class="w-full bottom-0 bg-gray-900">
	<div class="container mx-auto p-8">
		<div class="flex flex-wrap items-center md:justify-between justify-center">
			<div class="w-full md:w-8/12 px-4">
				<div class="text-sm text-white font-semibold py-1">
					<p class="text-white text-sm font-semibold py-1" >© <%= new Date().getFullYear(); %> <a href="https://mikhaelbailly.fr" target="blank">Mikhaël Bailly</a></p>
				</div>
			</div>
			<div class="w-full md:w-4/12 px-4">
				<ul class="flex flex-wrap list-none md:justify-end  justify-center">
					<li> <a href="https://github.com/Mikheull" target="blank" title="Mon profil Github" class="text-white hover:text-gray-400 text-sm block py-1 px-3"> <i class="fa fa-github"></i> </a> </li>
					<li> <a href="https://linkedin.com/in/mikhael-bailly" target="blank" title="Mon profil Twitter" class="text-white hover:text-gray-400 text-sm block py-1 px-3"> <i class="fa fa-linkedin"></i> </a> </li>
					<li> <a href="https://twitter.com/Mikhael_Bailly" target="blank" title="Mon profil Linkedin" class="text-white hover:text-gray-400 text-sm block py-1 px-3"> <i class="fa fa-twitter"></i> </a> </li>
				</ul>
			</div>
		</div>
	</div>
</footer>
