/* Icons */
.icon {display: block;width: 1.5em;height: 1.5em;margin: 0 auto;fill: currentColor;}

/* Embed */
.rg_embed_body {padding: 0 !important;}
.rg_embed[data-domain="genius.com"] {
	margin-top: 40px;
	width: 100%;
	border: none;
}
.rg_embed[data-domain="genius.com"] a {
	background: #e9e9e9;
}
.rg_embed_footer {display: none}
