<%- include('../../../../partials/header'); -%>

    <div style="min-height: 80vh" class="px-6 mx-auto lg:px-16 h-auto">
        <div class="mt-32 mb-16 text-center mx-auto px-4">
            <h1 class="font-semibold text-5xl text-gray-700">Hello <span class="text-green-400 font-bold"><%= data.user_data.display_name %></span></h1>
            <p class="mt-2 text-2xl text-gray-600">Ready to sing until the end of the night?</p>
            <p class="text-md text-gray-600">Once the music is full loaded, click on the image</p>
        </div>

        <div id="lyrics_app" class="hidden">
            <div id="content" class="mb-4">
                <div class="flex flex-row">
                    <div class="music_banner">
                        <img class="w-full mb-2 h-64" style="box-shadow: -20px 20px #edf2f7;" src="https://i.pinimg.com/originals/7a/ec/a5/7aeca525afa2209807c15da821b2f2c6.png" alt="Music banner"/>
                    </div>
                    <div class="flex flex-col ml-4">
                        <div class="music_title text-gray-800 text-3xl font-bold">Titre</div>
                        <div class="music_subtitle text-gray-600 text-">Artists</div>

                        <div class="music_link"> <a href="#" target="blank" class="text-green-400 underline block">Link to Spotify</a> </div>
                        <div class="music_link_twitter"> <a href="#" target="blank" class="text-green-400 underline block">Share on twitter <i class="fa fa-twitter"></i> </a> </div>
                    </div>
                </div>
                <div id="iframe_genius"></div>
            </div>
        </div>

        <div class="text-center hidden" id="response-mess">
            <h3 class="text-gray-500 text-md mb-2">Loading ...</h3>
        </div>
    </div>

<%- include('../../../../partials/footer'); -%>
