<div class="flex flex-col items-center flex-1 h-full px-4 sm:px-0">
    <div class="flex w-screen sm:mx-0">

        <div class="flex flex-col w-full md:w-2/5 p-4 h-screen">
            <div class="flex flex-col flex-1 justify-center mb-8 md:px-20 sm:px-0">
                <h1 class="text-4xl text-gray-900 font-bold">Login</h1>
                <h2 class="text-1xl text-gray-700">Link your Spotify account to access Sooneos features</h2>

                <div class="mt-4">
                    <a href="<%= configuration.base_url %>auth/spotify" class="border border-gray-300 rounded px-10 py-2 text-xl text-gray-700"><i class="fa fa-spotify"></i></a>
                </div>
            </div>
        </div>

        <div class="hidden md:block md:w-3/5 h-screen" style="background: url('images/login.jpg'); background-size: cover; background-position: center center;"></div>
    </div>
</div>