/* Icons */
.icon {display: block;width: 1.5em;height: 1.5em;margin: 0 auto;fill: currentColor;}

/* Embed */
.rg_embed_body {padding: 0 !important;}
.rg_embed[data-domain="genius.com"] {
	width: 100%;
	background: #edf2f7;
	display: none !important;
	padding-left: 10vw;
	padding-bottom: 2vh;
	margin-bottom: 0;
	position: absolute;
	top: 90vh;
	z-index: 9999;
	border: none;
}
.rg_embed_footer {display: none}


/* Album */
.album__bg {
	top: 10px;
	height: calc(100% - 6.2rem);
	z-index: -1;
	left: -10px;
}


/* Details */
.details {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	padding: 40vh 0 10vh 10vw;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	pointer-events: none;
}

.details--open {pointer-events: auto;}
.details > * {position: relative;opacity: 0;}

.details__bg {
	width: 100%;
	position: absolute;
	left: 0;
}

.details__bg--down {
	top: 40vh;
}

.details__img {
	position: absolute;
	top: 10vh;
	right: 10vw;
	height: auto;
}

.details__bg, .details__img {transform-origin: 0 0;}
.details__title {margin: -1.5em 0 0.1em;}
.details__subtitle {margin: 0.75em 0 1em 0;}

.details__description {width: 60%}

.details__close {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	background: none;
	margin: 2em;
	cursor: pointer;
}




@media screen and (max-width: 40em) {
	.grid {padding: 0 1vw;}
	.grid__item {padding: 0 2vw;}
	.album__bg {height: 10em;}
	.album__img {max-height: 19em;}
	.album__title {font-size: 1.25em;}
	.album__subtitle {font-size: 0.75em;}
	.details {padding: 30vh 0 5vh 10vw;}
	.details__bg--down {top: 30vh;height: 70vh;}
	.details__title {font-size: 2em;}
	.details__subtitle {font-size: 1em;}
	.details__description {max-width: 70%;font-size: 0.85em;margin: 1em 0 0 0;}
	.details__img {display: none;}
	.rg_embed.music {top: 50vh;padding-left: 2vw;}
}
