<div style="height: 80vh" class="h-auto">
	<div class="mt-32 mb-16 text-center mx-auto px-4">
		<h1 class="font-semibold text-5xl text-gray-700">Hello <span class="text-orange-600 font-bold"><%= user_data.display_name %></span></h1>
		<p class="mt-2 text-2xl text-gray-600">Ready to sing until the end of the night?</p>
		<p class="text-md text-gray-600">Once the music is full loaded, click on the image</p>
	</div>
</div>
